<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, :class => "form-control col-md-6" %>
  </div>

  <div class= "form-group">
    <%= form.collection_select :customer_id, Customer.order(:company),:id,:company, include_blank:true%>
  </div>
<!--
  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, :class => "form-control col-md-6" %>
  </div>
-->
  <div class="actions">
    <%= form.submit %>
  </div>


  <hr/>
<% end %>
