<!DOCTYPE html>
<html>
  <head>
    <title>Cmm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>


    <% if user_signed_in? %>
      <%= link_to "Customers", customers_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Tasks", tasks_path %>
      <%= link_to "Task Entries", task_entries_path %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Customers", customers_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Tasks", tasks_path %>
      <%= link_to "Task Entries", task_entries_path %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
